body{
    font-family: cursive;
}

button{
    font-family: cursive;
}

#title{
    display: flex;
    justify-content: center;
}

#top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#job-search{
    display: none;
    flex-direction: column;
    align-items: center;
}

#input-company-name{
    width: 200px;
    height: 20px;
    margin: 5px;
}

#search-button{
    width: 200px;
    height: 20px;
}

#current-jobs{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-job{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-job{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-info-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#add-job-button{
    width: 200px;
    height: 20px;
}

.show-button{
    width: 160px;
    height: 24px;
    margin: 5px;
}

.job-add-info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-input{
    margin: 5px;
    margin-top: 0px;
}

.job-info-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.job-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-tittle{
    width: 160px;
    height: 24px;
}

.info-paragraph{
    width: 160px;
    height: 24px;
}

.label-job{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}